element {
  --revenue-primary-color: #52d123;
  --revenue-secondary-color: #0c6502;
  --impresions-primary-color: #2bc5e2;
  --impresions-secondary-color: #034f63;
  --views-primary-color: #fbc110;
  --views-secondary-color: #d95807;
}

