:root {
  --revenue-primary-color: #52d123;
  --revenue-secondary-color: #0c6502;
  --impresions-primary-color: #2bc5e2;
  --impresions-secondary-color: #034f63;
  --visits-primary-color: #fbc110;
  --visits-secondary-color: #d95807;
}

g.revenue > path.tablet {
  fill: var(--revenue-primary-color);
}

g.revenue > path.smartphone {
  fill: var(--revenue-secondary-color);
}

g.impresions > path.tablet {
  fill: var(--impresions-primary-color);
}

g.impresions > path.smartphone {
  fill: var(--impresions-secondary-color);
}

g.visits > path.tablet {
  fill: var(--visits-primary-color);
}

g.visits > path.smartphone {
  fill: var(--visits-secondary-color);
}

.center {
  font-family: 'Open Sans', sans-serif;
}

.center.title {
  fill: #888;
  font-size: 24pt;
}

.center.total {
  fill: #333;
  font-size: 28pt;
}

.svg-container {
  display: inline;
}