:root {
  --revenue-primary-color: #52d123;
  --revenue-secondary-color: #0c6502;
  --impresions-primary-color: #2bc5e2;
  --impresions-secondary-color: #034f63;
  --visits-primary-color: #fbc110;
  --visits-secondary-color: #d95807;
  --dark-text-color: #383838;
  --light-text-color: #b1b1b1;
}

g.revenue > path.tablet {
  fill: var(--revenue-primary-color);
}

g.revenue > path.smartphone {
  fill: var(--revenue-secondary-color);
}

g.impresions > path.tablet {
  fill: var(--impresions-primary-color);
}

g.impresions > path.smartphone {
  fill: var(--impresions-secondary-color);
}

g.visits > path.tablet {
  fill: var(--visits-primary-color);
}

g.visits > path.smartphone {
  fill: var(--visits-secondary-color);
}

.center {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.center.title {
  fill: var(--light-text-color);
  font-size: 2.5vh;
}

.center.total {
  fill: var(--dark-text-color);
  font-size: 3.5vh;
}

.info-box {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid var(--light-text-color);
}

.info-box > div > h1 {
  font-size: 1.5vw;
  font-weight: 700;
}

.info-box > div > p {
  font-size: 1.3vw;
  font-weight: 400;
}

.info-box.revenue > div.tablet > h1 {
  color: var(--revenue-primary-color);
}

.info-box.revenue > div.smartphone > h1 {
  color: var(--revenue-secondary-color);
}

.info-box.impresions > div.tablet > h1 {
  color: var(--impresions-primary-color);
}

.info-box.impresions > div.smartphone > h1 {
  color: var(--impresions-secondary-color);
}

.info-box.visits > div.tablet > h1 {
  color: var(--visits-primary-color);
}

.info-box.visits > div.smartphone > h1 {
  color: var(--visits-secondary-color);
}

.info-box > div > p > span.percentage {
  color: var(--dark-text-color);
  margin-right: 1vw;
}

.info-box > div > p > span.actual {
  color: var(--light-text-color);
}